@import "../Vars.scss";
.login {
  background: linear-gradient($second-color, $main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  font-family: 'Muli', sans-serif;
  min-height: calc(100vh - 200px);
}
.login.isTrue > .header {
 background-color: $second-color;
}

.login__container {
  background-color: rgba(255, 255, 255, .1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 50px 70px 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.login__container h2 {
  letter-spacing: 1px;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.social-media {
  margin: 10px 0;
}
.media__img {
  display: flex;
  align-items: center;
  margin-bottom: 10px;  
}
.media__img img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 14px;
}
.login__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.input {
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  outline: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 1.2em;
  font-family: 'Muli', sans-serif;
  height: 50px;
}
::placeholder {
  color: white;
}
.button {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none transparent;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Multi', sans-serif;
  margin: 10px 0;
}